
.info{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 120px 163px 57px 163px;
  
  background-image: url(../assets/images/Background_Intro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid red;
}


.avatar {
  display: flex;
  justify-content: center; 
  align-items: flex-end;
  margin-bottom: 56px;

  border: 1px solid red;
}

.user {
  position: relative;
  width: 96px;
  height: 96px;
}

header {
  width: 680px;
}

.about {
  text-align: center;
  border: 1px solid red;
}

.tags {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;

  border: 1px solid white;
}

.tag-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 999px;
  gap: 8px;
  background-color: var(--gray-300);
  margin-bottom: 94px;
}

.seta {
  display: flex;
  justify-content: center;
}